.heading {
  margin: 1rem 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1.5px;
  background-image: linear-gradient(135deg, #4e4e4e 0%, #868585 100%);
  background-clip: text;
  color: transparent;
  transition: all 0.3s;
  &:hover {
    transform: skewY(1deg) skewX(2.5deg) scale(1.05);
    text-shadow: 1rem 1rem 2rem black;
  }
}

.mainDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.cartDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.buttons {
  display: inline-block;
  width: 50%;
  margin: 6px;
  background-color: transparent;
  font-size: 16px;
  color: #333333;
  border: none; // deletes the button's default border
  border-bottom: 1px solid #333333;
  padding: 4px;
  transition: all 0.3s;

  &:hover {
    background: #333333;
    color: #ffffff;
    transform: translateY(-2px);
  }
  &:active {
    box-shadow: 0.5rem 0.5rem 0.5rem #c2c2c2;
    transform: translateY(0); // click effect
  }
}
