*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image:
  // url(https://imgs.search.brave.com/Ty-MYapVdkxq94cDbjcumR7je8ACy07WHgVLaBtFvKo/rs:fit:626:626:1/g:ce/aHR0cHM6Ly9pbWFn/ZS5mcmVlcGlrLmNv/bS9mcmVlLXZlY3Rv/ci9sYXVnaGluZy1l/bW9qaS1zb2NpYWwt/bWVkaWEtbWVzc2Fn/ZS1iYWNrZ3JvdW5k/LWNvcHktc3BhY2Vf/OTUxNjktMTMyMy5q/cGc),
    linear-gradient(315deg, #f1dfd1 0%, #f6f0ea 74%);
  a {
    text-decoration: none;
    color: inherit;
  }
}
// linear-gradient(60deg, #bdc3c7 0%, #2c3e50 100%);

// background-color: #b3cdd1;
// background-color: #f1dfd1;
