.mainDiv {
  margin: 0 0 0;
  height: 518px;
  width: 1400px; // this needs to be fixed
  padding: 0;
}
.flexDiv {
  display: flex;
  justify-content: space-around;
}
.heading {
  margin: 4rem 0;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1.5px;
  background-image: linear-gradient(135deg, #4e4e4e 0%, #868585 100%);
  background-clip: text;
  color: transparent;
  transition: all 0.3s;
  &:hover {
    transform: skewY(2deg) skewX(5deg) scale(1.1);
    text-shadow: 1rem 1rem 2rem black;
  }
}
.centerText {
  text-align: center;
}
.paragraphHeading {
  color: #3f3d56;
}
.introDiv {
  width: 480px;
  color: #5c6170;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
} //3f3d56 5c6170
.button {
  font-size: 16px;
  color: #333333;
  display: inline-block;
  border-bottom: 1px solid #333333;
  padding: 4px;
  transition: all 0.3s;
  &:hover {
    background: #333333;
    color: #ffffff;
    transform: translateY(-2px);
  }
  &:active {
    box-shadow: 0.5rem 0.5rem 0.5rem #c2c2c2;
    transform: translateY(0); // click effect
  }
}
.imageDiv {
  position: relative;
  .image {
    width: 250px;
    height: 185px;
    box-shadow: 0rem 1rem 1rem black;
    position: absolute;
    transition: all 0.2s;
    filter: blur(0.7px);
    cursor: grab;
    &:hover {
      outline: 1rem solid #383636;
      filter: blur(0);
      transform: scale(1.05);
      box-shadow: 0 2.5rem 4rem black;
      z-index: 5;
    }
  }
  .imageSchulz {
    left: -8.5rem;
    top: -4rem;
  }
  .imageAri {
    right: 2rem;
    top: 1rem;
  }
  .imageIliza {
    left: -5.5rem;
    top: 4rem;
  }
}
