// .mainDiv {
// }

.comedianDiv {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  top: 8%;
  background-image: inherit;
  padding: 28px;
  width: 100%;
  height: 84%;
}

.comedianIntro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  border-radius: 24px;
  width: 640px;
  padding: 48px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  background-image: linear-gradient(45deg, bisque 0%, rgb(219, 176, 125) 100%);
  img {
    border-radius: 24px;
  }
}

.emoji {
  margin: 6px;
}
.buyMore {
  font-size: x-large;
  font-weight: 600;
}
